/* Rouge GitHub theme */
.highlight { background: #1a2638; }
.highlight .c { color: #998898; font-style: italic }  /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 }  /* Error */
.highlight .k { color: #ff8fa3 }  /* Keyword */
.highlight .o { color: #000000 }  /* Operator */
.highlight .cm { color: #999988; font-style: italic }  /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold }  /* Comment.Preproc */
.highlight .c1 { color: #8bdf4c; font-style: italic }  /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic }  /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd }  /* Generic.Deleted */
.highlight .ge { font-style: italic }
.highlight .gr { color: #aa0000 }
.highlight .gh { color: #999999 }
.highlight .gi { color: #000000; background-color: #ddffdd }
.highlight .go { color: #888888 }
.highlight .gp { color: #555555 }
.highlight .gs { font-weight: bold }
.highlight .gu { color: #aaaaaa }
.highlight .gt { color: #aa0000 }
.highlight .kc { color: #0000ff }
.highlight .kd { color: #0000ff }
.highlight .kn { color: #0000ff }
.highlight .kp { color: #0000ff }
.highlight .kr { color: #0000ff }
.highlight .kt { color: #ff8fa3 }
.highlight .m { color: #a980f5 }
.highlight .s { color: #ffc56d }  /* String */
.highlight .n { color: #fff }
.highlight .na { color: #008080 }
.highlight .nb { color: #0086B3 }
.highlight .nc { color: #38c7ff; font-weight: bold }  /* Class */
.highlight .no { color: #008080 }
.highlight .nd { color: #3c5d5d }
.highlight .ni { color: #800080 }
.highlight .ne { color: #990000; font-weight: bold }
.highlight .nf { color: #38c7ff; font-weight: bold }  /* Function */
.highlight .nl { color: #990000; font-weight: bold }
.highlight .nn { color: #ebd247 }
.highlight .nt { color: #000080 }
.highlight .nv { color: #008080 }
.highlight .ow { color: #0000ff; font-weight: bold }
.highlight .w { color: #bbbbbb }
.highlight .mf { color: #009999 }
.highlight .mh { color: #009999 }
.highlight .mi { color: #009999 }
.highlight .mo { color: #009999 }
.highlight .sb { color: #d14 }
.highlight .sc { color: #d14 }
.highlight .sd { color: #d14 }
.highlight .s2 { color: #d14 }
.highlight .se { color: #d14 }
.highlight .sh { color: #d14 }
.highlight .si { color: #d14 }
.highlight .sx { color: #d14 }
.highlight .sr { color: #009926 }
.highlight .s1 { color: #d14 }
.highlight .ss { color: #990073 }
.highlight .bp { color: #999999 }
.highlight .vc { color: #008080 }
.highlight .vg { color: #008080 }
.highlight .vi { color: #008080 }
.highlight .il { color: #009999 }
