<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>サングラスの妖精@スマイル開発室</title>
  <base href="/MuscleDad-SmileLab/">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/default.css">
  <link rel="stylesheet" href="/static/css/rouge.css">
</head>
<body>

  {% include sidebar.html %}

  <main class="content">
    {{ content }}
  </main>

  <div class="twitter-fixed">
    <a href="https://x.com/coding_at_gym" target="_blank">Twitter</a>
  </div>
  <footer class="footer">
    <div class="links">
      <a href="/privacy_jp.html">プライバシーポリシー</a><br>
      <a href="/privacy_en.html">Privacy Policy</a><br>
    </div>
    © {{ site.time | date: '%Y' }} サングラスの妖精@スマイル開発室<br>All rights reserved.
  </footer>  
</body>
</html>
