<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>サングラスの妖精@スマイル開発室</title>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/default.css">
  <link rel="stylesheet" href="/static/css/rouge.css">
</head>
<body>

  <nav class="sidebar">
    <div class="logo">サングラスの妖精<br>@スマイル開発室</div>
    <a href="/about.html">About</a>
    <a href="#games">Games</a>
    <a href="#works">Works</a>
    <a href="#contacts">Contact</a>
  </nav>

  <main class="content">
    {{ content }}
  </main>

  <div class="twitter-fixed">
    <a href="https://twitter.com" target="_blank">Twitter</a>
  </div>
  <footer class="footer">
    <div class="links">
      <a href="/privacy_jp.html">プライバシーポリシー</a><br>
      <a href="/privacy_en.html">Privacy Policy</a><br>
    </div>
    © {{ site.time | date: '%Y' }} サングラスの妖精@スマイル開発室<br>All rights reserved.
  </footer>  
</body>
</html>
